@keyframes fullCycle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.wall{
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: monospace;
  animation: fullCycle 50s infinite;
  animation-timing-function: linear;
}

.mask{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: radial-gradient(rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.95) 90%);
}

.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background-size: cover;
}
