.wall{
  padding: 10px;
}

.wall .post{
  border-bottom: 1px solid #ccc;
}

body {
	font-family: 'Raleway';
	background: #eee;
}

.post {
	padding: 1em;
	clear: both;
	overflow: hidden;
}

.wall {
	max-width: 768px;
	margin: 1em auto;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 0;
	background: #fff;
}

.post:hover {
	background: rgba(110, 202, 217, 0.25);
	-webkit-transition: background 1s;
	transition: background 1s;
}

.post h2 {
	font-weight: 700;
	font-size: 18px;
	margin: 0;
	width: auto;
	display: inline;
}

.post p {
	font-weight: 300;
	margin: 0.5em 0 0 4em;
}

.post em {
	font-weight: 500;
	font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    float: right;
    color: #666;
    top: 0;
}

.post img {
	float: left;
	clear: none;
	border-radius: 4px;
	margin-right: 1em;
	width: 48px;
}

@media screen and (max-width: 768px) {
	.wall {
		border: none;
		margin: 0;
	}
	
	.post p {
		margin: 1.5em 0 0 ;
	}
	
	.post h2,
	.post em {
		top: 3.5px;
		position: relative;
	}
	
	.post em {
		float: none;
		display: block;
		margin-top: 0.5em;
	}
}