
.post{
  color: #0f0;
  position: absolute;
  height: 100%;
  width: 4em;
  margin-left: -2em;
}

@keyframes letterApper{
  0%{
    color: #fff;
  }
  100%{
    color: #0f0;
  }
}
.post .content{
}

.post .letter{
  width: 1em;
  height: 1.1em;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 0 0.8em #fff;
  animation: letterApper 0.35s;
}

.post .border{
  box-shadow: 0 0 6px #fff;
  border: 3px solid #0f0;
  width: 4em;
  margin-left: -3px;
  border-radius: 4em;
  overflow: hidden;
}

.post .pict{
  display: block;
  width: 4em;
  height: 4em;
  background-size: cover;
  filter: grayscale(1);
}

.post .pict:hover{
  opacity: 1;
}

