@keyframes postApper {
  0%{
    opacity: 0;
    transform: translate(30px);
  }
  100%{
    opacity: 1;
    transform: translate(0px);
  }
}


.post{
  color: #bbb;
  position: absolute;
  width: 0;
  transition: all 0.5s;
}

.post .pict{
 position: absolute;  
 top: -17px;
 left: -36px;
 width: 34px; 
 height: 34px; 
 border-radius: 50px;
 transition: all 0.2s;
 background-size: cover;
 opacity: 0.8;
 z-index: 2;
}

.post .pict:hover{
  opacity: 1;
  transform: scale(2);
}

.post .content{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 40px; 
  top: 20px;
  margin-top: -20px;
  animation: postApper 0.6s;
}

.post .content h2{
  font-size: 16px;
  margin: -17px 0 0 0;
  padding: 0;
}
.post .content p{
  margin: 0;
  padding: 0;
  width: 400px;
  font-size: 14px;
  line-height: 12px;
  height: 36px;
  overflow: hidden;
}

.post .content .line{
  border-top: 1px dashed #d44;
  width: 4000px;
  position: absolute;
  top: 0px;
  left: -2px;
}
