
.post{
  color: #0f0;
  position: absolute;
  height: 100%;
  width: 40px;
  margin-left: -20px;
}

@keyframes letterApper{
  0%{
    background-color: rgba(0,255,0,1);
  }
  100%{
    background-color: rgba(0,255,0,0);
  }
}
.post .content{
}

.post .letter{
  width: 10px;
  height: 1.1em;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 0 6px #fff;
  animation: letterApper 0.15s;
}

.post .border{
  box-shadow: 0 0 6px #fff;
  border: 3px solid #0f0;
  width: 40px;
  margin-left: -3px;
  border-radius: 50px;
  overflow: hidden;
}

.post .pict{
  display: block;
  width: 40px; 
  height: 40px; 
  background-size: cover;
  filter: grayscale(1);
}

.post .pict:hover{
  opacity: 1;
}

